.logo{
    color: rgba(10,115,137,255);
    }
    .container-image-text{
        display: flex;
    }
    .container-image-text{
        display: flex;
    }
    .left-text{
        width: 65%;
        height: 650px;
        background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
    }
    .margin-left-text{
        margin-left: 150px;
        margin-top: 150px;
    }
    .right-img{
        width: 35%;
        height: 650px;
        background-color: rgb(120, 19, 44);
    }
    .flex-hellow{
        display: flex;
        word-spacing: 30px;
    
    }
    .text-hellow1{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: 6px;
        width: 70px;
        height: 25px;
        border-radius: 10px;
        background-color:rgb(180, 180, 180) ;
        
    }
    .p1{
        margin-left: 10px;
        
    }
    .p2{
        
        color: rgba(10,115,137,255);
        font-family: serif;
        font-size: 25px;
    }
    .button-about-me-home-page{
        width: 130px;
        height: 30px;
        border-radius: 10px;
        background-color:rgb(180, 180, 180) ;
    }
    .image-welcome-page{
        width: 100%;
        height: 650px;
    }
    .container-about-me{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        height: 750px;
        background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
    }
    .left-imge-about-me{
        width: 700px;
        height: 750px;
        grid-column: 1;
        grid-row: 1;
    }
    .right-text-about-me{
        width: 737px;
        height: 750px;
        grid-column: 2;
        grid-row: 1;
    }
    .image-about-me{
        border: 1px solid rgb(180, 180, 180);
        margin: 50px;
        margin-right: 30px;
        width:100%;
        height: 600px;
    }
    .inside-container-about-me{
        border: 1px solid rgb(180, 180, 180);
        width: 80%;;
        background-color: rgb(19, 15, 15);
        margin: 50px;
        
    }
    .text-about-me{
        padding: 20px;
        font-family: serif;
        color:rgba(9,113,137,255);
        margin-top: 35px;
    }
    .text-about-me1{
        text-align: center;
        font-family: serif;
        font-size:30px ;
        color:rgba(9,113,137,255) ;
        margin-top: 40px;
    }
    .edit-text-about-me{
        color: white;
    }
    .button-about-about-me-page{
        width: 130px;
        height: 30px;
        border-radius: 10px;
        background-color:rgb(180, 180, 180) ;
        margin: 15px;
    }
    .button-about-me-to-service{
        text-decoration: none;
        color:rgb(0, 0, 0)  ;
    }
    nav{
        border: 1px solid white;
    }
    .footer {
        width: 100%;
        height: 100px;
        background-color: rgb(12, 19, 35);
        
    }
    
    .footT{
       padding-top: 15px;
       margin-right: 100px;
    }
    .bottom {
        width: 100%;
        height: 400px;
        text-align: center;
    }
    
    .donate {
        background-color: goldenrod;
        width: 100px;
        height: 40px;
    }
    svg{
        color: white;
        margin: 10px;
        font-size: 20px;
    }
    #mm{
        color: white;
        
    }
    @media screen and (max-width: 1400px){
        .logo{
            color: rgba(10,115,137,255);
            }
            .container-image-text{
                display: flex;
            }
            .container-image-text{
                display: flex;
            }
            .left-text{
                width: 65%;
                height: 650px;
                background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
            }
            .margin-left-text{
                margin-left: 150px;
                margin-top: 150px;
            }
            .right-img{
                width: 35%;
                height: 650px;
                background-color: rgb(120, 19, 44);
            }
            .flex-hellow{
                display: flex;
                word-spacing: 30px;
            
            }
            .text-hellow1{
                font-family: 'Times New Roman', Times, serif;
                text-align: center;
                margin-top: 6px;
                width: 70px;
                height: 25px;
                border-radius: 10px;
                background-color:rgb(180, 180, 180) ;
                
            }
            .p1{
                margin-left: 10px;
                
            }
            .p2{
                
                color: rgba(10,115,137,255);
                font-family: serif;
                font-size: 25px;
            }
            .button-about-me-home-page{
                width: 130px;
                height: 30px;
                border-radius: 10px;
                background-color:rgb(180, 180, 180) ;
            }
            .image-welcome-page{
                width: 100%;
                height: 650px;
            }
            .container-about-me{
                display: grid;
                grid-template-columns: 100%;
                height: 2000px;
                /* grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr; */
                
            }
            .left-imge-about-me{
                grid-column: 1;
                height: 750px;
                grid-row: 1;
                
            }
            .right-text-about-me{
                
                
                height: 2000px;
                grid-column: 1;
                grid-row: 2;
            }
            .image-about-me{
                border: 1px solid rgb(180, 180, 180);
                margin: auto;
                width: 80%;
                height: 600px;
            }
            .inside-container-about-me{
                border: 1px solid rgb(180, 180, 180);
                width: 80%;
                height:1000px;
                background-color: rgb(19, 15, 15);
                margin: auto;
                
            }
            .text-about-me{
                padding: 20px;
                font-family: serif;
                color:rgba(9,113,137,255);
                margin-top: 35px;
            }
            .text-about-me1{
                text-align: center;
                font-family: serif;
                font-size:30px ;
                color:rgba(9,113,137,255) ;
                margin-top: 40px;
            }
            .edit-text-about-me{
                color: white;
            }
            .button-about-about-me-page{
                width: 130px;
                height: 30px;
                border-radius: 10px;
                background-color:rgb(180, 180, 180) ;
                margin: 15px;
            }
            .button-about-me-to-service{
                text-decoration: none;
                color:rgb(0, 0, 0)  ;
            }
            nav{
                border: 1px solid white;
            }
            .footer {
                width: 100%;
                height: 100px;
                background-color: rgb(12, 19, 35);
                
            }
            
            .footT{
               padding-top: 15px;
               margin-right: 100px;
            }
            .bottom {
                width: 100%;
                height: 400px;
                text-align: center;
            }
            
            .donate {
                background-color: goldenrod;
                width: 100px;
                height: 40px;
            }
            svg{
                color: white;
                margin: 10px;
                font-size: 20px;
            }
            #mm{
                color: white;
                
            }
    }