.logo{
    color: rgba(10,115,137,255);
    }
.container-services{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
}
nav{
    border: 1px solid  rgb(180, 180, 180);
}
.title-services{
    display: inline-block;
    text-align: center;
    font-size: 50px;
    background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
}
.box1{
width: 33%;
height: 350px;
border: 1px solid rgb(180, 180, 180);
margin: 10px;
background-color: rgb(19, 15, 15);
}
.container-title-services{
    width: 100%;
    height: 90px;
    background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
}
.title-services1{
    
    font-family: serif;
    font-size: 60px;
    text-align: center;
    color:rgba(18,81,107,255) ;
}
#icon{
margin-left: 135px;
font-size: 80px;
color:rgba(18,81,107,255)  ;

}
#icon1{
    
    margin-top: 40px;
    margin-left: 145px;
    font-size: 50px;
    color:rgba(18,81,107,255)  ;
    
    }
    .services-for-me{
        font-family: fantasy;
        font-size: 25px;
        text-align: center;
        color:rgba(18,81,107,255)  ;
    }
    .hr2{
        color: gray;
    }
    .services-for-me1{
        font-family: fantasy;
        font-size: 25px;
        text-align: center;
        color:rgba(18,81,107,255)  ;
    }
    #icon2{
        margin-top: 40px;
        margin-left: 150px;
        font-size: 50px;
        color:rgba(18,81,107,255)  ;
        }
        nav{
            border: 1px solid white;
        }
        .footer {
            width: 100%;
            height: 100px;
            background-color: rgb(12, 19, 35);
            
        }
        
        .footT{
           padding-top: 15px;
           margin-right: 100px;
        }
        .bottom {
            width: 100%;
            height: 400px;
            text-align: center;
        }
        
        .donate {
            background-color: goldenrod;
            width: 100px;
            height: 40px;
        }
        svg{
            color: white;
            margin: 10px;
            font-size: 20px;
        }
        #mm{
            color: white;
            
        }
        .all-box{
            width: 90%;
            margin: auto;
        }
        @media screen and (max-width: 1250px){
            .logo{
                color: rgba(10,115,137,255);
                }
            .container-services{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 2000px;
                background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
            }
            nav{
                border: 1px solid  rgb(180, 180, 180);
            }
            .title-services{
                display: inline-block;
                text-align: center;
                font-size: 50px;
                background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
            }
            .box1{
            width: 100%;
            height: 350px;
            border: 1px solid rgb(180, 180, 180);
            margin: 10px;
            background-color: rgb(19, 15, 15);
            }
            .container-title-services{
                width: 100%;
                height: 90px;
                background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 14.44.31.jpg);
            }
            .title-services1{
                
                font-family: serif;
                font-size: 60px;
                text-align: center;
                color:rgba(18,81,107,255) ;
            }
            #icon{
               
               width: 20%;
            margin: auto;
            font-size: 80px;
            color:rgba(18,81,107,255)  ;
            
            }
            #icon1{
                margin: auto;
                width: 20%;
                margin-top: 40px;
                
                font-size: 50px;
                color:rgba(18,81,107,255)  ;
                
                }
                .all-box{
                    width: 90%;
                    margin-left: 400px;
                    margin: auto;
                }
                .services-for-me{
                    font-family: fantasy;
                    font-size: 25px;
                    text-align: center;
                    color:rgba(18,81,107,255)  ;
                }
                .hr2{
                    color: gray;
                }
                .services-for-me1{
                    font-family: fantasy;
                    font-size: 25px;
                    text-align: center;
                    color:rgba(18,81,107,255)  ;
                }
                #icon2{
                    margin-top: 40px;
                    margin-left: 150px;
                    font-size: 50px;
                    color:rgba(18,81,107,255)  ;
                    }
                    nav{
                        border: 1px solid white;
                    }
                    .footer {
                        width: 100%;
                        height: 100px;
                        background-color: rgb(12, 19, 35);
                        
                    }
                    
                    .footT{
                       padding-top: 15px;
                       margin-right: 100px;
                    }
                    .bottom {
                        width: 100%;
                        height: 400px;
                        text-align: center;
                    }
                    
                    .donate {
                        background-color: goldenrod;
                        width: 100px;
                        height: 40px;
                    }
                    svg{
                        color: white;
                        margin: 10px;
                        font-size: 20px;
                    }
                    #mm{
                        color: white;
                        
                    }
        }